#main_body {
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 700px;
}
h1 {
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
div {
	font-size: 20px;
	text-align: center;
}
.content {
	margin-top: 50px;
	font-weight: bold;
}